#_assessor_i, #_pais, #_map_search{
  width: auto;
  background-color: aqua;
  margin: 2px;
  font-size: .9em;
}

._accordian_padding{
  padding: 10px;
}

._green_confirm{
  color:green;
  font-weight: bold;
}